<%= 1+2 %>
<%= 1.hour.from_now.localtime %>

<%= inside_addition %>
<br>
<br>


    <% @projects.each do |project| %>
      <tr>
        <td><%= project.address %></td>
        <br>
        <% if project.id == 1 %>
        <% @occupants.each do |occup| %>      
        <%= occup.name + project.address %>
            <% end %>
          <br>
          <% end %>
    <% end %>


