<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap 3</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

        </head>
        <body style="background-color:#A9BDDB; padding-top:0px;">
              <%= render 'layouts/analytics' %>

              <a class="anchor" id="benchmarking-video" ></a>
              <div style="background: url('assets/benchmark_landing.png'); background-repeat:no-repeat; background-position: top center; ">
                <div class="container" >
                  <div class="jumbotron" style="min-height:40px; padding: 0 0 0 0; background-color: transparent; padding-top:25px;">
                    <center>

                    
                    <!--<a class="btn btn-default layer-top">Watch Now!</a>
                    <a class="btn btn-info layer-top">Tweet it!</a></center>
                    <p class="layer-top">This is the text that whootay duddy can write while building the website.</p>-->
                    
                  </div>
                </div>


                <div class = "container hidden-xs hidden-sm" style="min-height:600px;">
                  <div class="row" style="padding-bottom:35px;">

                    <div class = "col-md-8">
                      <center>
                    
                      <!--<h1 class="layer-top" style="font-size:38px; color:#FFF;">Benchmarking Made Easy</h1>
                      <div id="video" style="padding-bottom:25px;"><iframe src="http://player.vimeo.com/video/55034369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div><p></p>-->

                      </center>
                    </div>

                    <div class = "col-md-4">
                      <div class="panel-body" style="color:#FFF; font-size:20px;">

                        <p >“Bay Efficiency’s streamlined process eliminates all the back and forth, phone tag, and to-do lists I have come to associate with benchmarking buildings.”</p>
                        <p>-Loren Riehl<br>Property Manager</p>
                        <br>                      

                          <a href = "#contact" style="color:#FFF; font-size:20px;" data-toggle="modal" onclick="ga('send', 'event', 'Button', 'Click', 'Contact');">Start Benchmarking Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <a class="anchor" id="benchmarking-video" style="padding-top:25px;"></a>
              <div style="background: url('assets/city_view.png'); background-repeat:no-repeat; background-position: top center;">
                <div class="container" >
                  <div class="jumbotron" style="min-height:40px; padding: 0 0 0 0; background-color: transparent; padding-top:25px;">
                    <center>

                    
                    <!--<a class="btn btn-default layer-top">Watch Now!</a>
                    <a class="btn btn-info layer-top">Tweet it!</a></center>
                    <p class="layer-top">This is the text that whootay duddy can write while building the website.</p>-->
                    
                  </div>
                </div>


                <div class = "container hidden-xs hidden-sm" style="min-height:350px;">
                  <div class="row" style="padding-bottom:35px;">

                    <div class = "col-md-8">
                      <center>
                    
                      <h1 class="layer-top" style="font-size:38px; color:#FFF;">Benchmarking Made Easy</h1>
                      <div id="video" style="padding-bottom:25px;"><iframe src="http://player.vimeo.com/video/55034369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div><p></p>

                      </center>
                    </div>

                    <div class = "col-md-4">
                      <div class="panel-body" style="color:#FFF; font-size:20px;">

                        <p >“Bay Efficiency’s streamlined process eliminates all the back and forth, phone tag, and to-do lists I have come to associate with benchmarking buildings.”</p>
                        <p>-Loren Riehl<br>Property Manager</p>
                        <br>                      

                          <a href = "#contact" style="color:#FFF; font-size:20px;" data-toggle="modal" onclick="ga('send', 'event', 'Button', 'Click', 'Contact');">Start Benchmarking Now</a>
                      </div>

                    </div>
                  </div>
                  
                </div>

              </div>





              <a class="anchor" id="why-benchmark" ></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">

                    <div class = "col-md-8">
                      <div class="panel-body">
                        <h3>Why Benchmark?</h3>
                        <h5 style="font-style:italic;">Here are some of the reasons people turn to Bay Efficiency to benchmark their building.</h5>
                        <ul>
                          <li>State Law - California State Compliance with Assembly Bill (AB 1103)</li>
                          <li>Local Law – San Francisco – Existing Commercial Buildings Ordinance</li>
                          <li>To attract new tenants</li>
                          <li>To find out if there are energy opportunities in the building</li>
                          <li>To determine buildings value prior to going to market</li>
                        </ul>
                      </div>
                    </div>                    

                    <div class="col-md-4">
                      <div class="panel-body">
                      <h3>When do you have to benchmark for AB1103? </h3>
                        <a href="/assets/ab1103-trigger.pdf"><img class = "img-responsive pdf-style" src="assets/ab1103-trigger.png">What Triggers AB1103 Benchmarking</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

           <!--   <a class="anchor" id="benchmark-faq" ></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">

                    <div class = "col-md-8">
                      <div class="panel-body">
                        <h3>Frequently Asked Questions</h3>
                        <h5 style="font-style:italic;">Here are some of the most common questions people have.</h5>
                        <ul>
                          <li>How long does it take to energy benchmark a building?</li>
                          <li>Will I get an ENERGY STAR score?</li>
                          <li>What is energy benchmarking?</li>
                          <li>Why would I energy benchmark a building?</li>
                          <li>Who needs to energy benchmark?</li>
                          <li>What is the California Assembly Bill (AB 1103) Commercial Building Energy Use Disclosure Program?</li>
                          <li>Will I get an ENERGY STAR score?</li>
                          <li>Why might failing to provide an energy benchmark disclosure report per AB 1103 guidelines be considered fraud? </li>
                          <li>When do I need to provide an energy benchmark disclosure report per AB 1103?</li>
                          <li>What is included in the energy benchmarking disclosure report?</li>
                        </ul>
                      </div>
                    </div>                   
                  </div>
                </div>
              </div>

              <a class="anchor" id="benchmark-faq-1" ></a>
              <div class="container">
                <div class="panel">
                  <div class="row">
                    <div class = "col-md-8">
                      <div class="panel-body">
                        <h3>How long does it take to energy benchmark a building?</h3>
                        <h5>The online interface is available at your convenience.  We stand ready to start phone based data collection within (48) hours (usually the same business day).  We have a structured procedure to follow up with each building contact each day to make sure that we do everything we can to support the data collection process.<br><br>
                          We work from multiple angles whenever possible, however bottlenecks do occur.  Expedited reports can be completed in under (48) hours. Possible bottlenecks include:<h5>
                          <ol>
                            <li>Waiting for the PG&E to approve the utility meter in Automated Benchmarking (ABS) system.</li>
                            <li>Waiting for the changes to update in the Portfolio Manager database.  The portfolio manager database only updates over night, so any changes that may take up to (24) hours before reporting can be completed.</li>
                            <li>And most commonly, delays in data collection.  With reasonable cooperation from the building team we typically complete the energy benchmarking summary report in less than (1) week.</li>              
                          </ol>
                      </div>
                    </div>                   
                  </div>
                </div>
              </div>-->



                <%= render 'layouts/recent_clients' %>


                <%= render 'layouts/others_are_saying' %>                
                <%= render 'layouts/navbar_footer' %>
                <%= render 'layouts/modals' %>
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                
               
        </body>
</html>