<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap 3</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">


        </head>
        <body style="background-color:#A9BDDB;">

              <!--This is the master git file-->
              <%= render 'layouts/tags' %>
              <!--<a href="/projects">Projects</a>-->


              <div style="background: url('assets/city_view.png'); background-repeat:no-repeat; background-position: top center;">
                <div class="container" >
                  <div class="jumbotron" style="min-height:40px; padding: 0 0 0 0; background-color: transparent; padding-top:25px;">
                    <center>
                     
                    <h1 class="layer-top" style="font-size:38px; color:#FFF;">Unsure if your building is energy-efficient?  We can help.</h1>
                    
                    <!--<a class="btn btn-default layer-top">Watch Now!</a>
                    <a class="btn btn-info layer-top">Tweet it!</a></center>
                    <p class="layer-top">This is the text that whootay duddy can write while building the website.</p>-->
                    
                  </div>
                </div>


                <div class = "container hidden-xs hidden-sm" style="min-height:350px;">
                  <div class = "row">

                    <div class = "col-md-4 ">
                      <div class="circle-btn">
                        <h3 class = "text-center"><a href = "#one-page-decision" class="circle-btn-text";><br><br><br>Easy to read<br> report and <br>recommendations</a></h3>
                        </div>
                      </div>

                    <div class = "col-md-4">
                      <div class="circle-btn">
                        <h3 class="text-center"><a href = "#full-sample-report" class="circle-btn-text"><br><br><br>Millions<br>of Square Feet<br>Audited</a></h3>
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="circle-btn">
                       <h3 class="text-center"><a href = "/benchmarking" class="circle-btn-text";><br><br><br>Hassle Free <br>Benchmarking and<br> Data Collection</a></h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              

              <%= render 'layouts/others_are_saying' %>



              <a class="anchor" id="why-audit"></a>
              <div class="container">
                
                <div class="panel">
                  <div class="row">

                    <div class = "col-md-4">
                      <div class="panel-body">
                        <h3>Energy Audits mean profitable buildings</h3>
                        <h5 style="font-style:italic;">Up to ten dollars back for every dollar invested</h5>
                        <p> Bankers think about banking, property manager think about their tenants, and accountant look at the P&L, but no one looks up at the lights.  We find ways to turn your buildings infrastructure into investment opportunities.<br><br> 
                        We look at all of your aging equipment at say, what if?  What if we changes out this thermostat with a brand new one?  What if we upgrade the lighting?   If we did all of the projects for this building here is how the baseline (business as usual) case and the proposed (everything installed) case compare.<br><br>
                        This average building had pretty good lighting and HVAC to start with and look at thier opportunity.  As you can see after 10 years the dark green line has paid a lot more than the light green line.  How much extra money are you paying the utility company?
                        </p>
                      </div>
                    </div>                    

                    <div class="col-md-8">
                      <div class="panel-body">
                      <h3>Why Audit?</h3>
                        <a href="#"><img class = "img-responsive" style="padding: 2px 0px 2px 2px;" src="assets/cost-of-delay.png">The Cost of Delay - </a>
                      </div>
                    </div>



                  </div>
                </div>
              </div>

              <a class="anchor" id="where-savings-come-from"></a>
              <div class="container">
                <div class="panel">
                  <div class="row">

                    <div class="col-md-4">
                      <div class="panel-body">
                        <h3>Where do the savings come from?</h3>
                        <h5 style="font-style:italic;">Looking at the Lifecycle Cost</h5>
                        <p> Did you ever think that energy-efficient technologies were more expensive?  It sure can feel that way when at the store.  Imagine buying an LED lightbulb for $45 when you could get the incandescent replacement for $5.  You might think, phew, energy-efficiency is expensive.
                        <br><br>
                        But wait,  this view is very short sighted.  What happens when we look at all of the costs?  In reality doing nothing costs three times more money. 
                        </p>
                      </div>
                    </div>

                    <div class = "col-md-8">
                      <div class="panel-body">
                      <h3>A Lifecycle Cost Comparison: Incandescent VS. LED</h3>
                      <h5 style="font-style:italic;">66% Operating Expense Savings with Energy-Efficient Lighting</h5>  
                        <img class = "img-responsive" src="assets/light-lifecycle.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>       


              <a class="anchor" id="one-page-decision"></a>
              <div class="container">
                <div class="panel">
                  <div class="row">

                    <div class="col-md-8">
                      <div class="panel-body">
                        <h3>What you need to Make the Decision on One Page</h3>
                        <h5 style="font-style:italic;">Meaningful (and responsible) financial metrics.</h5>
                        <p> An energy audit takes in huge amounts of data about your building and crunches it down into notes, photos, and calculations using our proprietary calculation software.  Then we carefully condense and refine those results into a single page for your reading pleasure.<br><br>Sure there are lots and lots more pages of supporting documents (calculations, notes, and manufacturer specification), and you don't need to read them...unless you want to (we like it).
                        </p>
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="panel-body">
                      <h3>Sample Executive Summary</h3>
                        <a href="assets/execsummary-sample.pdf"><img class = "img-responsive pdf-style" style="padding: 2px 0px 2px 2px;" src="assets/execsummary-thumb.png">The Decision Maker's View</a>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <a class="anchor" id="pitfalls-to-avoid"></a>
              <div class="container">
                <div class="panel">
                  <div class="row">

                    <div class="col-md-8">
                      <div class="panel-body">
                        <h3>The 5 Most Common Energy Audit Pitfalls to Avoid</h3>
                        <h5 style="font-style:italic;">Watch Out!</h5>
                        <p>Here are 5 common pitfalls that stop good intentions before they become great projects.  Don't worry, we've got your back.<br><br>
                        5 Common Pitfalls:
                        <ol type="A">
                          <li><a href="#TOU-rates" data-toggle="modal">A Common Oversimplification that leads to 100% Error.</a></li>
                          <li><a href="#" data-toggle="modal">Too Many Choices</a></li>
                          <li><a href="#" data-toggle="modal">Sacrficing Tenant Comfort</a></li>
                          <li><a href="#simple-payback" data-toggle="modal">Making Decisions without Looking Ahead</a></li>
                          <li><a href="#project-rank" data-toggle="modal">Doing Things in the Wrong Order</a></li>
                        </ol>
                        </p>
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="panel-body">
                      <h3>Sample Detail Section</h3>
                        <a href="assets/detail-section.pdf"><img class = "img-responsive pdf-style" src="assets/detail-section.png">
                        The Devil's in the Details.</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 


              <a class="anchor" id="full-sample-report"></a>
              <div class="container">
                <div class="panel">
                  <div class="row">

                    <div class="col-md-8">
                      <div class="panel-body">
                        <h3>Full Sample Report</h3>
                        <h5 style="font-style:italic;">Each project has an action item.</h5>
                        <p> Audit reports are notorious for sitting on desks collecting dust.  It is not that the projects are not good, it is that the action items are not clear.  What should a building owner do when he/she wants to hire a contractor based on the reports findings?  Most energy-audit reports are unclear.<br><br> 
                        After the executive summary, Bay Efficiency's energy-audit report is an installation reference manual, complete with all of the details you need to clearly specify the job.  You won't need to read page 38 to decide to move forward with the project, but when it comes time to order the equipment or show the job to the contractor the project manager will be happy to have all of these necessary details.<br><br>
                        </p>
                      </div>
                    </div>
                    
                    <div class = "col-md-4">
                      <div class="panel-body">
                      <h3>Full Sample Report</h3>
                        <a href="assets/sample-full-audit-report.pdf"><img class = "img-responsive pdf-style" style="padding: 2px 0px 2px 2px;" src="assets/sample-full-audit-report.png">Commonly Referenced</a>
                      </div>
                    </div>


                  </div>
                </div>
              </div>



              <div class="container">
                <div class="panel">
                  <div class="row">

                    <div class="col-md-8">
                      <div class="panel-body">
                        <h3>Additional Report Materials</h3>
                        <h5 style="font-style:italic;">Reference Highlights</h5>
                        <p> But we didn’t stop there.  We have many more reports that we come and explain in-person in our on-site presentation.  We even include all of the detailed lifecycle cost analysis.   If you are feeling quite technical feel free to open up this full sample report.  Remember, everything that you need to know to make a decision is listed on the first page.<br><br>
                        Here are some of the other highlights:
                        <ul>
                          <li><a href="#" data-toggle="modal">HVAC Summary</a></li>
                          <li><a href="#" data-toggle="modal">Shopping List</a></li>
                          <li><a href="#" data-toggle="modal">Equipment Cut Sheets</a></li>
                        </ul>
                        </p>
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="panel-body">
                      <h3>Sample HVAC Image Report</h3>
                        <a href="assets/sample-hvac-image-report.pdf"><img class = "img-responsive pdf-style" src="assets/sample-hvac-image-report.png">
                        Sample HVAC Image Report</a>
                        <p style="font-style:italic;">* Included with all ASHRAE Level 2 Audits</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  



              <a class="anchor" id="auditor-criteria"></a>
              <div class="container">
                <div class="panel">
                  <div class="row">

                    <div class="col-md-8">
                      <div class="panel-body">
                        <h3>How to Select an Energy Auditor</h3>
                        <h5 style="font-style:italic;">Looking at the Lifecycle Cost</h5>
                        <p> Well it would be quite presumptuous of us to tell you how to do this.  So we have enlisted the help of an old friend, the California Energy Commission.  The California Energy Commission is the primary state energy policy and planning agency.  Their 68 page document, “How to Select an Energy Auditor”.  Lists 5 criteria you should look for:
                        <ol type="A">
                          <li><a href="#staff-experience" data-toggle="modal">Consultant Staff Experience</a></li>
                          <li><a href="#responsiveness" data-toggle="modal">Responsiveness</a></li>
                          <li><a href="#conflict-of-interest" data-toggle="modal">Conflict of Interest</a></li>
                          <li><a href="#references" data-toggle="modal">References</a></li>
                          <li><a href="#staff-availability" data-toggle="modal">Availability of Qualified Consultant Staff</a></li>
                        </ol>
                        </p>
                      </div>
                    </div>

                    <div class = "col-md-4">
                      <div class="panel-body">
                      <h3>How to Hire an Energy Auditor</h3>
                        <a href="assets/CEC-how-to-hire-energy-auditor.pdf"><img class = "img-responsive pdf-style" src="assets/CEC-how-to-hire-energy-auditor-thumb.png">
                        Check out the full document here.</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  



                <%= render 'layouts/recent_clients' %>
                <%= render 'layouts/navbar_footer' %>
                <%= render 'layouts/modals' %>
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                
               
        </body>
</html>