                <div class = "navbar navbar-default navbar-fixed-top">
                        <div class = "container">                               
                                <div class="navbar-header">
                                  <a href="/" class="brand"><%= image_tag "bayefficiency_logo.png" %></a>
                                  <!--<a href="/" class="brand-text">BAY EFFICIENCY</a>-->
                                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                  <ul class = "nav navbar-nav navbar-right">
                                       
                                      <li><a href = "/" class="active">Home</a></li>
                                      <li class = "dropdown">
                                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Energy Audits<b class = "caret"></b></a>
                                          <ul class = "dropdown-menu" role="menu">
                                            <li><%= link_to("Why Audit?", root_path(@root, anchor: "why-audit")) %></li>
                                            <li><%= link_to("Where do the savings come from?", root_path(@root, anchor: "where-savings-come-from")) %></li>
                                            <li><%= link_to("Pitfalls to Avoid", root_path(@root, anchor: "pitfalls-to-avoid")) %></li>
                                            <li><%= link_to("Criteria to Select an Energy Auditor", root_path(@root, anchor: "auditor-criteria")) %></li>
                                            <!--<li><a href = "#">Easier Incentives</a></li>
                                            <li><a href = "#">Leasing Expertise</a></li>-->
                                           </ul>
                                        </li>
                                        <li class = "dropdown">
                                          <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Benchmarking<b class = "caret"></b></a>
                                            <ul class = "dropdown-menu">
                                              <!--<li><%= link_to("What is Benchmarking?", benchmarking_path(@benchmarking, anchor: "what-benchmark")) %></li>
                                              <li><a href = "#">What is Benchmarking?</a></li>-->
                                              <li><%= link_to("Benchmarking Made Easy", benchmarking_path(@benchmarking, anchor: "benchmarking-video")) %></li>
                                              <li><%= link_to("Why Benchmark?", benchmarking_path(@benchmarking, anchor: "why-benchmark")) %></li>
                                              <!--<li><%= link_to("Who Needs to Benchmark?", benchmarking_path(@benchmarking, anchor: "who-benchmark")) %></li>
                                              <li><a href = "#">AB1103</a></li>
                                              <li><a href = "#">San Francisco</a></li>-->
                                            </ul>
                                         </li>

                                         <li><a href = "#contact" data-toggle="modal" onclick="ga('send', 'event', 'Button', 'Click', 'Contact');">Contact</a></li>
                                         <li><% if user_signed_in? %>
                                          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                                          <% else %>
                                          <%= link_to "Sign In", new_user_session_path %>
                                          <% end %>
                                        </li>

                        
                               </div>
                               
                        </div>
                </div>